<h3>Agregar cupones</h3>
<div class="row">
	
	<div class="input-field col s6">
		<input placeholder="Hamburguesa, Combo, Servicio ... " id="name" type="text" class="validate">
		<label for="ticketName">Nombre</label>
	</div>

	<div class="col s2">
		
		<input name="group1" type="radio" id="porcentage" />
		<label for="porcentage">Porcentaje</label>
		
		<input name="group1" type="radio" id="cash" />
		<label for="cash">Dinero</label>
		
	</div>

	<div class="input-field col s2">
		<input placeholder="10%, 2000, 20%, 5000" id="percentage" type="text" class="validate">
		<label for="percentage">Porcentaje</label>
	</div>


	<div class="col s2">
		
	</div>
	
</div>
<div class="row">
	<div class="col s4">
		<input type="text" class="datepicker">
		<label for="ticketName">Dia de inicio</label>
	</div>
</div>

<script src="/js/tickets/tickets.js"></script>